body {
    background-color:#1c819e;
    text-align: center
   

}
header {
    text-align: center;
    background-color: #009f9d;
    border-radius: 60px;
}

.fotodoc{
    text-align: center;
    font-family: verdana;
    font-size: 14px;
}

.circle {
    border-radius: 100%;
}

ul {
    list-style-type:none
    
}
.rodape{
    background-color: #009f9d;
    background-color: ;
    text-align: center;
    background-color: (144, 167, 209);
    border-radius: 60px;
}

