body {
    background: rgb(214, 215, 219);
    text-align: center
   

}
header {
    text-align: center;
    background-color:  rgb(111, 219, 219);
    border-radius: 60px;
}

.fotodoc{
    text-align: center;
    font-family: verdana;
    font-size: 14px;
}
.circle {
    border-radius: 100%;
}

ul {
    list-style-type:none
    
}
.rodape{
    background: rgb(111, 219, 219);
    text-align: center;
    background-color: (144, 167, 209);
    border-radius: 60px;
}

